;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;   To learn more about how to configure Polybar
;   go to https://github.com/jaagr/polybar
;
;   The README contains a lot of information
;
;==========================================================

include-file = $SCRIPTPATH/colors.ini
;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[bar]
fill = 
empty = 
indicator = ⏽ 
; Nerd font :   ,  ⏽,  樂 籠 錄 ,  ⏽ 絛
;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[bar/mainbar0]
inherit = bar/barbase
modules-left = workspace0

[module/workspace0]
type = custom/script
exec = leftwm-state -w 0 -t $SCRIPTPATH/template.liquid
tail = true
;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

; [bar/mainbar1]
; inherit = bar/barbase
; modules-left = workspace1
;
; [module/workspace1]
; type = custom/script
; exec = leftwm-state -w 1 -t $SCRIPTPATH/template.liquid
; tail = true
;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[bar/barbase]
;width = ${env:width}
;offset-x = ${env:offsetx}
monitor = ${env:monitor}
;offset-y = ${env:y}
;width = 100%
height = 30
width = 94%
offset-x = 3%
offset-y = 1%
radius = 2
fixed-center = false
background = ${colors.background}
foreground = ${colors.amber}
line-size = 3
line-color = #f00
border-size = 2
border-color = ${colors.amber2}
padding-left = 0
padding-right = 2
module-margin-left = 1
module-margin-right = 1
font-0 = "JetBrainsMono Nerd Font:size=10;2"
font-1 = "CaskaydiaCove Nerd Font Mono:size=11;1"
modules-center =
modules-right = cmus system-bluetoothctl volume brightness cpu memory battery date network clipboard updates-pacman-aurhelper powermenu
tray-position = right
tray-offset-x = -2
tray-padding = 2
cursor-click = pointer
cursor-scroll = ns-resize
;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/xwindow]
type = internal/xwindow
label = %title:0:20:...%
;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/brightness]
; type = internal/xbacklight
type = internal/backlight
; Use the following command to list available cards:
; $ ls -1 /sys/class/backlight/
; card = intel_backlight
card = amdgpu_bl1
; Available tags:
;   <label> (default)
;   <ramp>
;   <bar>
format = ⏽  <ramp> <label>
;[<bar>]
label = "%{A1:light -S 20:}%percentage%%%{A}"
bar-width = 10
bar-indicator = ${bar.indicator} 
bar-indicator-foreground = ${colos.foreground}
bar-indicator-font = 1
bar-fill = ${bar.fill}
bar-fill-font = 1
bar-fill-foreground = ${colors.color1}
bar-empty = ${bar.empty}
bar-empty-font = 1
bar-empty-foreground = ${colors.foreground}
enable-scroll = true
; format-underline = ${colors.color7}
; Only applies if <ramp> is used
ramp-0 = 
ramp-1 = 
ramp-2 = 
ramp-3 = 
ramp-4 = 
;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/cpu]
type = internal/cpu
interval = 5
format = ⏽   <label>
format-prefix-foreground = ${colors.amber}
; format-underline = ${colors.color7}
label = %percentage:2%%
;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/memory]
type = internal/memory
interval = 5
format = ⏽    <label>
format-prefix-foreground = ${colors.amber}
; format-underline = ${colors.color7}
label = %percentage_used%%
;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/date]
type = internal/date
interval = 1.0
date = %d %a 
time = %H:%M
date-alt = %A, %d %B %Y
time-alt = %H:%M:%S
format = ⏽   <label>
; format-underline = ${colors.color7}
format-foreground = ${colors.amber}
label = %date% %time%
label-font = 1
;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/volume]
type = internal/pulseaudio
; Soundcard to be used
; Usually in the format hw:# where # is the card number
; You can find the different card numbers in `/proc/asound/cards`
;master-soundcard = default
;speaker-soundcard = default
;headphone-soundcard = default

; Use PA_VOLUME_UI_MAX (~153%) if true, or PA_VOLUME_NORM (100%) if false
; Default: true
use-ui-max = false

; Name of the master, speaker and headphone mixers
; Use the following command to list available mixer controls:
; $ amixer scontrols | sed -nr "s/.*'([[:alnum:]]+)'.*/\1/p"
; If master, speaker or headphone-soundcard isn't the default, 
; use `amixer -c # scontrols` instead where # is the number 
; of the master, speaker or headphone soundcard respectively
;
; Default: Master
;master-mixer = Master

; Optionally define speaker and headphone mixers
; Default: none
;;speaker-mixer = Speaker
; Default: none
;;headphone-mixer = Headphone

; NOTE: This is required if headphone_mixer is defined
; Use the following command to list available device controls
; $ amixer controls | sed -r "/CARD/\!d; s/.*=([0-9]+).*name='([^']+)'.*/printf '%3.0f: %s\n' '\1' '\2'/e" | sort
; You may also need to use `amixer -c # controls` as above for the mixer names
; Default: none
;;headphone-id = 9

; Use volume mapping (similar to amixer -M and alsamixer), where the increase in volume is linear to the ear
; Default: false
;;mapped = true

; Interval for volume increase/decrease (in percent points)
; Default: 5
interval = 5
format-volume = ⏽  <ramp-volume> <label-volume>
;[<bar-volume>]
label-volume = %percentage%%
label-volume-foreground = ${root.foreground}
label-muted = ⏽   muted
label-muted-foreground = ${colors.amber2}
; format-volume-underline = ${colors.color7}
bar-volume-width = 10
bar-fill-foreground = ${colors.foreground}
bar-volume-foreground-0 = ${colors.color6}
bar-volume-foreground-1 = ${colors.color6}
bar-volume-foreground-2 = ${colors.color4}
bar-volume-foreground-3 = ${colors.color4}
bar-volume-foreground-4 = ${colors.color3}
bar-volume-foreground-5 = ${colors.color3}
bar-volume-foreground-6 = ${colors.color1}
bar-volume-foreground-7 = ${colors.color1}
bar-volume-gradient = false
bar-volume-indicator = ${bar.indicator}
bar-volume-indicator-font = 1
bar-volume-fill = ${bar.fill}
bar-volume-fill-font = 1
bar-volume-empty = ${bar.empty}
bar-volume-empty-font = 1
bar-volume-empty-foreground = ${colors.foreground-alt}
ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 
; If defined, it will replace <ramp-volume> when
; headphones are plugged in to `headphone_control_numid`
; If undefined, <ramp-volume> will be used for both
; Only applies if <ramp-volume> is used
ramp-headphones-0 = 
ramp-headphones-1 = 
;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/battery]
type = internal/battery
battery = BAT0
adapter = ADP0
full-at = 98
low-at = 10 
; Disable polling by setting the interval to 0.
;
; Default: 5
poll-interval = 5
; see "man date" for details on how to format the time string
; NOTE: if you want to use syntax tags here you need to use %%{...}
; Default: %H:%M:%S
time-format = %H:%M

; format-charging-underline = ${colors.color7}
; format-discharging-underline = ${colors.color7}
; Available tags:
;   <label-charging> (default)
;   <bar-capacity>
;   <ramp-capacity>
;   <animation-charging>
format-charging = ⏽   <ramp-capacity> <label-charging>
; Available tags:
;   <label-discharging> (default)
;   <bar-capacity>
;   <ramp-capacity>
;   <animation-discharging>
format-discharging = ⏽  <ramp-capacity> <label-discharging>

; Available tags:
;   <label-full> (default)
;   <bar-capacity>
;   <ramp-capacity>
format-full = ⏽   <label-full>
format-low = ⏽   <label-low>

label-full = "Battery Full"
label-low = "Battery LOW  !!!"
;
; Available tokens:
;   %percentage% (default)
;   %time%
;   %consumption% (shows current charge rate in watts)

label-charging = %percentage%%

; Available tokens:
;   %percentage% (default)
;   %time%
;   %consumption% (shows current discharge rate in watts)
label-discharging = %percentage%%

; Available tokens:
;   %percentage% (default)
; Only applies if <bar-capacity> is used
bar-capacity-width = 10
bar-capacity-gradient = false

bar-capacity-indicator = ${bar.indicator}
bar-capacity-indicator-foreground = ${color.foreground}

bar-capacity-fill = ${bar.fill}
bar-capacity-foreground-4 = #55aa55
bar-capacity-foreground-3 = #55aa55
bar-capacity-foreground-2 = #f5a70a
bar-capacity-foreground-1 = #f5a70a
bar-capacity-foreground-0 = #ff5555

bar-capacity-empty = ${bar.empty}
bar-capacity-empty-foreground = ${color.foreground}

ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 
ramp-capacity-5 = 
ramp-capacity-6 = 
ramp-capacity-7 = 
ramp-capacity-8 = 
ramp-capacity-9 = 
;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/updates-pacman-aurhelper]
type = custom/script
exec = $SCRIPTPATH/polybar_scripts/updates-pacman-aurhelper.sh --run
interval = 3600
click-left = $SCRIPTPATH/polybar_scripts/run_with_terminal.sh 
format = ⏽   <label>
; format-underline = ${colors.color7}
;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/cmus]
type = custom/script

exec = $SCRIPTPATH/polybar_scripts/cmus.sh
exec-if = pgrep -x cmus
interval = 3

click-left = cmus-remote --next && $SCRIPTPATH/polybar_scripts/cmus_notifications.sh &
click-right = cmus-remote --prev && $SCRIPTPATH/polybar_scripts/cmus_notifications.sh &
click-middle = cmus-remote --pause
scroll-up = cmus-remote --volume +5%
scroll-down = cmus-remote --volume -5%

label-font = 3
format = ⏽  <label>
label = %output%
label-maxlen = 40
;label-maxlen = 35
; format-underline = ${colors.color7}
;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/system-bluetoothctl]
type = custom/script
exec = $SCRIPTPATH/polybar_scripts/bluetoothctl_menu.sh
#tail = true
; format-underline = ${colors.color7}
click-left = $SCRIPTPATH/polybar_scripts/bluetoothctl_menu.sh --click
format = ⏽  <label>
;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
; TODO: Bluetooth menu

[module/powermenu]
type = custom/menu

; If true, <label-toggle> will be to the left of the menu items (default).
; If false, it will be on the right of all the items.
expand-right = true

; "menu-LEVEL-N" has the same properties as "label-NAME" with
; the additional "exec" property
;
; Available exec commands:
;   menu-open-LEVEL
;   menu-close
; Other commands will be executed using "/usr/bin/env sh -c $COMMAND"
menu-0-0 =  Reboot
menu-0-0-exec = menu-open-1
menu-0-1 =  Shutdown
menu-0-1-exec = menu-open-2

menu-1-0 =  No
menu-1-0-exec = menu-open-0
menu-1-1 =  Yes
menu-1-1-exec = systemctl reboot

menu-2-0 =  No
menu-2-0-exec = menu-open-0
menu-2-1 =  Yes
menu-2-1-exec = systemctl poweroff


; Available tags:
;   <label-toggle> (default) - gets replaced with <label-(open|close)>
;   <menu> (default)
; Note that if you use <label-toggle> you must also include
; the definition for <label-open>

format = ⏽  <label-toggle> <menu>
format-foreground = ${colors.amber}
; format-underline = ${colors.color7}
format-padding = 1

label-open = " Power"
label-close = "" 

; Optional item separator
; Default: none
label-separator = " ⏽ "

;;label-open-foreground = ${color.foreground}
;;label-close-foreground = ${color.background}
;;label-separator-foreground = ${color.background}
;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

; Normal Module
[module/network]
type = internal/network
interface = wlp4s0

; Seconds to sleep between updates
; Default: 1
interval = 5.0

; Test connectivity every Nth update
; A value of 0 disables the feature
; NOTE: Experimental (needs more testing)
; Default: 0
;ping-interval = 3

; @deprecated: Define min width using token specifiers (%downspeed:min% and %upspeed:min%)
; Minimum output width of upload/download rate
; Default: 3
;;udspeed-minwidth = 5

; Accumulate values from all interfaces
; when querying for up/downspeed rate
; Default: false
accumulate-stats = true

; Consider an `UNKNOWN` interface state as up.
; Some devices have an unknown state, even when they're running
; Default: false
unknown-as-up = true

; Available tags:
;   <label-connected> (default)
;   <ramp-signal>
format-connected = ⏽  <ramp-signal> <label-connected>

; Available tags:
;   <label-disconnected> (default)
format-disconnected = ⏽  睊 <label-disconnected>

; format-connected-underline = ${colors.color7}
; format-disconnected-underline = ${colors.color7}
; Available tags:
;   <label-connected> (default)
;   <label-packetloss>
;   <animation-packetloss>
;;format-packetloss = <animation-packetloss> <label-connected>

; Available tokens:
;   %ifname%    [wireless+wired]
;   %local_ip%  [wireless+wired]
;   %local_ip6% [wireless+wired]
;   %essid%     [wireless]
;   %signal%    [wireless]
;   %upspeed%   [wireless+wired]
;   %downspeed% [wireless+wired]
;   %linkspeed% [wired]
; Default: %ifname% %local_ip%
label-connected = "%{A1:$SCRIPTPATH/polybar_scripts/wifi_menu.sh:}%essid%%{A}"

; Available tokens:
;   %ifname%    [wireless+wired]
; Default: (none)
label-disconnected = "%{A1:$SCRIPTPATH/polybar_scripts/wifi_menu.sh:}Offline%{A}"
;;label-disconnected-foreground = #66ffffff
; Available tokens:
;   %ifname%    [wireless+wired]
;   %local_ip%  [wireless+wired]
;   %local_ip6% [wireless+wired]
;   %essid%     [wireless]
;   %signal%    [wireless]
;   %upspeed%   [wireless+wired]
;   %downspeed% [wireless+wired]
;   %linkspeed% [wired]
; Default: (none)
;label-packetloss = %essid%
;label-packetloss-foreground = #eefafafa

; Only applies if <ramp-signal> is used
ramp-signal-0 = 直
ramp-signal-1 = 直
ramp-signal-2 = 直
;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/clipboard]
type = custom/script
exec = printf "⏽  "
; format-underline = ${colors.color7}
click-left = $SCRIPTPATH/polybar_scripts/clipboard_menu.sh
click-right = greenclip clear
;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
[settings]
screenchange-reload = true
;compositing-background = xor
;compositing-background = screen
;compositing-foreground = source
;compositing-border = over
;pseudo-transparency = false

;[global/wm]
;margin-top = 5
;margin-bottom = 5

; vim:ft=dosini
